<section>
    <mat-sidenav [disableClose]="true" autosize class="sidenav" mode="side" opened #sidenav>
        <app-sidenav></app-sidenav>
      </mat-sidenav>
  </section>
  <section>
    <div style="text-align:center">
      <h1>
          {{"Ini adalah tugas materi " + title}}
      </h1><br>
      <h1>{{"Contoh lowercase = " + message | lowercase}}</h1>
      <h1>{{"Contoh uppercase = " + message | uppercase}}</h1>
      <h1>{{"Contoh slice" + message | slice:12}}</h1>
    </div>
  </section>
  