<section>
    <app-sidenav></app-sidenav>  
  </section>
  <section>
    <div style="text-align:center">
      <h1>
          {{"Ini adalah tugas materi " + title}}
      </h1>
    </div>
    <div style="text-align:center">
        <input [id]="myId" type="text" value="contoh1">
        <input bind-disabled="isDisabled" id="{{myId}}" type="text" value="contoh2">
        <div align="center">
          <button type="button" (click)="onClick()"> Click </button>
        </div>
    </div>
  </section>
  