<section>
    <app-sidenav></app-sidenav>  
  </section>
  <section>
    <div style="text-align:center">
        <h1>{{"Ini adalah tugas " + title1}}</h1>
        <button (click)="nextUser()">Next Number</button>
        <br>
        <div *ngIf="userObservable | async as user; else loading">
          Number {{user.first}}!
        </div>
        <ng-template #loading let-user>Waiting... (number is {{user|json}})</ng-template>
    </div>
  </section>
  <section>
    <div class="text-align:center">
        <h1>{{"Ini adalah tugas " + title3}}</h1>
        <ul>
            <li *ngFor="let item of array">
                {{item.car}} {{item.color}}
            </li>
        </ul>
    </div>
  </section>
  