<section class="flex justify-center">
  <img class="fixed" src="../../assets/img/Background Langit.jpg" id="langit">

  <div id="card"
    class="fixed bg-white bg-opacity-20 backdrop-blur-lg overflow-hidden relative rounded-[2rem] drop-shadow-lg"
    style="width: 60vw; height: 70vh;">
    <div class="text-start lg:w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20 max-md:text-center max-sm:w-full">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block"> INTERNSHIP </span>
        <span class="block text-indigo-500"> PT AMERTA INDAH OTSUKA </span>
      </h2>
      <p class="text-gray-500 text-xl mt-4">
        Internship AIO merupakan program magang yang ditawarkan PT AMERTA
        INDAH OTSUKA untuk mahasiswa selama 1 semester.
      </p>
      <div class="lg:mt-0 lg:flex-shrink-0">
        <div id="btn" class="mt-12 inline-flex rounded-md shadow">
          <a href="#about" type="button"
            class="z-50 py-4 px-6 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
            Get started
          </a>
        </div>
        <img
          src="assets/img/pocariman.png"
          class="absolute top-0 right-0 h-full max-w-1/2 max-lg:hidden"
          style="height: 500px;"
        />
      </div>
    </div>
  </div>
  <img class="z-10" src="../../assets/img/Object Pohon.png" id="pohon">
</section>
<div class="sec">
  <h2>Parallax effect</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, reprehenderit? Ad, id architecto odit commodi sed eos
    nihil deserunt. Maxime id, voluptas velit consequatur consequuntur unde aliquid ipsum praesentium esse?<br><br>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Molestiae alias aliquam quisquam quos itaque, non explicabo sint
    est tenetur, possimus libero minus commodi eligendi debitis repudiandae delectus perspiciatis velit.
    Dolores!<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo sint quos vero eum illo similique cumque
    porro, sed excepturi aspernatur corrupti mollitia expedita repudiandae ipsam voluptatem impedit nesciunt deleniti.
    Iure.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos officiis cupiditate inventore laborum
    magnam dolorem fuga quis tenetur consequatur, facere ipsum delectus perferendis tempore suscipit aliquam nostrum
    quam id.
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, consequuntur sapiente atque et ad maxime
    explicabo eius odio a iusto fugiat qui quae deleniti quos minus incidunt aperiam, repellendus voluptatem.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quae vero magnam qui, nesciunt id aperiam
    porro consequuntur laudantium dolorem, ratione sapiente odio! Ex aliquid sit natus officia repellat soluta.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, reprehenderit? Ad, id architecto odit commodi sed eos
    nihil deserunt. Maxime id, voluptas velit consequatur consequuntur unde aliquid ipsum praesentium esse?<br><br>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Molestiae alias aliquam quisquam quos itaque, non explicabo sint
    est tenetur, possimus libero minus commodi eligendi debitis repudiandae delectus perspiciatis velit.
    Dolores!<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo sint quos vero eum illo similique cumque
    porro, sed excepturi aspernatur corrupti mollitia expedita repudiandae ipsam voluptatem impedit nesciunt deleniti.
    Iure.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos officiis cupiditate inventore laborum
    magnam dolorem fuga quis tenetur consequatur, facere ipsum delectus perferendis tempore suscipit aliquam nostrum
    quam id.
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, consequuntur sapiente atque et ad maxime
    explicabo eius odio a iusto fugiat qui quae deleniti quos minus incidunt aperiam, repellendus voluptatem.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quae vero magnam qui, nesciunt id aperiam
    porro consequuntur laudantium dolorem, ratione sapiente odio! Ex aliquid sit natus officia repellat soluta.
  </p>
  <p id="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, reprehenderit? Ad, id architecto odit commodi sed eos
    nihil deserunt. Maxime id, voluptas velit consequatur consequuntur unde aliquid ipsum praesentium esse?<br><br>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Molestiae alias aliquam quisquam quos itaque, non explicabo sint
    est tenetur, possimus libero minus commodi eligendi debitis repudiandae delectus perspiciatis velit.
    Dolores!<br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo sint quos vero eum illo similique cumque
    porro, sed excepturi aspernatur corrupti mollitia expedita repudiandae ipsam voluptatem impedit nesciunt deleniti.
    Iure.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos officiis cupiditate inventore laborum
    magnam dolorem fuga quis tenetur consequatur, facere ipsum delectus perferendis tempore suscipit aliquam nostrum
    quam id.
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, consequuntur sapiente atque et ad maxime
    explicabo eius odio a iusto fugiat qui quae deleniti quos minus incidunt aperiam, repellendus voluptatem.
    <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque quae vero magnam qui, nesciunt id aperiam
    porro consequuntur laudantium dolorem, ratione sapiente odio! Ex aliquid sit natus officia repellat soluta.
  </p>
</div>
