<section class="flex justify-center">
  <img src="../../assets/img/Background Langit.jpg" id="langit">
  <div class="bg-white bg-opacity-20 backdrop-blur-lg overflow-hidden relative rounded-[3rem] drop-shadow-lg" style="width: 60vw;">
    <div class="text-start lg:w-1/2 py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20 max-md:text-center max-sm:w-full">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block"> INTERNSHIP </span>
        <span class="block text-indigo-500"> PT AMERTA INDAH OTSUKA </span>
      </h2>
      <p class="text-gray-500 text-xl mt-4">
        Internship AIO merupakan program magang yang ditawarkan PT AMERTA
        INDAH OTSUKA untuk mahasiswa selama 1 semester.
      </p>
      <div class="lg:mt-0 lg:flex-shrink-0">
        <div class="mt-12 inline-flex rounded-md shadow">
          <a href="#about" type="button"
            class="py-4 px-6 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
  <img src="../../assets/img/Object Pohon.png" id="pohon">
</section>
